---
layout: default
---

<h3 style="text-align:center;">Do whatever you want<br/>
Try to live a full time passion<br/>
Meet a melting pot of people<br/>
Discover the world through adventures on the mat<br/>
It's all up to you</h3>

<!--<div ng-controller="fruitsController as vm">
    <ul ng-hide="vm.loading">
        <li ng-repeat="fruit in vm.fruits">[[fruit.Name]]</li>
    </ul>
</div>-->

{% raw %}

<div ng-controller="fruitsController as vm">
    <div ng-click="vm.load()">Click this to load the fruits</div>
    <ul ng-hide="vm.loading">
        <li ng-repeat="fruit in vm.fruits">{{fruit.Name}}</li>
    </ul>
</div>

<div ng-controller="accountController as vm">
    <div ng-click="vm.load()">Click this to load the account</div>
    <div ng-hide="vm.loading">
        {{ vm.account | json }}
    </div>
</div>

{% endraw %}

<br/>
<a href="/">Refresh Page</a>
<button class="get">Get Token</button>
<button class="use">Use Token</button>
<pre class="results"></pre>

<script>
    var token;
    if (window.location.hash) {
        token = processTokenCallback();
    }
    if (token) {
        document.querySelector("body").className = "token";
    }
    document.querySelector(".get").addEventListener("click", getToken, false);
    document.querySelector(".use").addEventListener("click", useToken, false);

    function show(data) {
        document.querySelector(".results").textContent += JSON.stringify(data, null, 2);
        document.querySelector(".results").textContent += '\r\n';
    }

    function clear() {
        document.querySelector(".results").textContent = "";
    }

    function getToken() {
        //var authorizationUrl = 'https://localhost:44309/connect/authorize';
        var authorizationUrl = 'https://trust.ken.be/connect/authorize';
        var client_id = '1';
        //var redirect_uri = 'http://127.0.0.1:4000/';
        var redirect_uri = 'https://pudding.io/';
        var response_type = "token";
        var scope = "api.ken.be";
        var state = Date.now() + "" + Math.random();
        localStorage["state"] = state;
        var url =
            authorizationUrl + "?" +
                "client_id=" + encodeURI(client_id) + "&" +
                "redirect_uri=" + encodeURI(redirect_uri) + "&" +
                "response_type=" + encodeURI(response_type) + "&" +
                "scope=" + encodeURI(scope) + "&" +
                "state=" + encodeURI(state);
        window.location = url;
    }

    function processTokenCallback() {
        var hash = window.location.hash.substr(1);
        var result = hash.split('&').reduce(function(result, item) {
            var parts = item.split('=');
            result[parts[0]] = parts[1];
            return result;
        }, {});
        show(result);
        if (!result.error) {
            if (result.state !== localStorage["state"]) {
                show("invalid state");
            } else {
                localStorage.removeItem("state");
                return result.access_token;
            }
        }
    }

    function useToken() {
        clear();
        var xhr = new XMLHttpRequest();
        xhr.onload = function(e) {
            if (xhr.status >= 400) {
                show({
                    status: xhr.status,
                    statusText: xhr.statusText,
                    wwwAuthenticate: xhr.getResponseHeader("WWW-Authenticate")
                });
            } else {
                show(JSON.parse(xhr.response));
            }
        };
        xhr.onerror = function(e) {
            console.log(e, xhr);
            show({ error: "unknown http error" });
        };
        //xhr.open("GET", "https://localhost:44300/api/account", true);
        xhr.open("GET", "https://api.ken.be/api/account", true);
        xhr.setRequestHeader("Authorization", "Bearer " + token);
        xhr.send();
    }
</script>

<script>
    //var api = "https://api.ken.be";
    var api = "https://localhost:44300";

    angular.module('app', []);
    //angular.module('app', [], function ($interpolateProvider) {
    //    $interpolateProvider.startSymbol('[[');
    //    $interpolateProvider.endSymbol(']]');
    //});
    angular.module('app').controller('fruitsController', function($http) {
        var vm = this;

        vm.load = function() {
            if (vm.loading) return;
            vm.loading = true;
            $http.get(api + "/api/fruits").then(
                function (response) {
                    vm.fruits = response.data;
                    vm.loading = false;
                },
                function (response) {
                    console.log(response.status);
                    console.log(response.statusText);
                    alert(response.data.Message);
                    vm.loading = false;
                });
        }
    });

    angular.module('app').controller('accountController', function ($http) {
        var vm = this;

        vm.load = function() {
            if (vm.loading) return;
            vm.loading = true;
            $http.get(api + "/api/account").then(
                function (response) {
                    vm.account = response.data;
                    vm.loading = false;
                },
                function (response) {
                    console.log(response.status);
                    console.log(response.statusText);
                    alert(response.data.Message);
                    vm.loading = false;
                });
        }
    });
</script>