<html ng-app="app">
    <head>
        <meta charset="utf-8" />
        <link rel="canonical" href="https://pudding.io{{ page.url }}" />
        <script type="text/javascript">
        var host = "pudding.io";
        var github = "kenvangilbergen.github.io/pudding.io";
        var url = window.location.toString();
        if (url.indexOf(github) > -1) window.location = url.replace(github, host);
        if ((host == window.location.host) && (window.location.protocol != "https:")) window.location.protocol = "https";
        </script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.3/angular.min.js"></script>
    </head>

    <body>
        {{ content }}
    </body>
</html>