<html>
    <head>
        <meta charset="utf-8" />
        <link rel="canonical" href="https://pudding.io{{ page.url }}" />
        <script type="text/javascript">
        var host = "pudding.io";
        var github = "kenvangilbergen.github.io/pudding.io";
        if (window.location.indexOf(github) > -1) window.location = window.location.replace(github, host);
        if ((host == window.location.host) && (window.location.protocol != "https:")) window.location.protocol = "https";
        </script>
    </head>

    <body>
        {{ content }}
    </body>
</html>